<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>This is SignUp Page</title>
</head>
<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="my-card">

            <div th:if="${session.message}" th:classAppend="${session.message.type}" class="alert" role="alert">
              <p class="text-center" th:text="${session.message.content}"></p>
              <!--once message shown then automatically remove the message:-->
              <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>

            <div class="container text-center">
              <img style="width: 50px" src="" alt="" th:src="@{/img/add-user.png}">
            </div>

            <h1 class="text-center">SignUp Here!!</h1>

            <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

              <!-- name field -->
              <div class="mb-3">
                <label for="name_field" class="form-label">Your Name</label>

                <input type="text"
                      name="name"
                      class="form-control"
                      id="name_field"
                      aria-describedby="emailHelp"
                      placeholder="Please Enter Here!"
                      required="required"
                      th:value="${user.name}"
                      th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                >

                <div th:each="e : ${#fields.errors('name')}"  th:text="${e}" class="invalid-feedback">

                </div>
              </div>


              <!-- email field -->
              <div class="mb-3">
                <label for="email_field" class="form-label">Your Email</label>

                <input type="email"
                      name="email"
                      class="form-control"
                      id="email_field"
                      aria-describedby="emailHelp"
                      placeholder="Please Enter Here!"
                      required="required"
                      th:value="${user.email}"
                      th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"
                >
                <div th:each="e : ${#fields.errors('email')}"  th:text="${e}" class="invalid-feedback">

                </div>

              </div>


              <!-- password field -->
              <div class="mb-3">
                <label for="password_field" class="form-label">Your Password</label>

                <input type="password"
                      name="password"
                      class="form-control"
                      id="password_field"
                      aria-describedby="emailHelp"
                      placeholder="Please Enter Here!"
                      th:value="${user.password}"
                      th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}"
                      required
                >

                <div th:each="e : ${#fields.errors('password')}"  th:text="${e}" class="invalid-feedback">

                </div>

              </div>

              <!-- user about field-->
              <div class="form-group">
                <textarea name="about" th:text="${user.about}" placeholder="Enter something yourself" rows="3" class="form-control" ></textarea>
              </div>

              <!-- terms and condition agreements-->
              <div class="form-group form-check">
                <input type="checkbox"
                name="agreement"
                class="form-check-input"
                id="agreement">
                <label for="agreement">Accept terms and condition</label>
              </div>

              <div class="container text-center mt-3">
                <button type="submit" class="btn bg-primary text-white">
                  Submit
                </button>

                <button type="reset" class="btn btn-warning ">
                  Reset
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>